body.app-index {
    background-color: #2196F3;
}

body.app-home {
    padding-top: 20%;
}

.btn {
    text-transform: capitalize;
}

.app-delivery-location {
    text-align: center;
}

.app-brand {
    color: #2196F3;
}

.awesomplete {
    display: block;
}

.navbar {
    padding: 0.2rem 0.5rem;
}

.navbar-brand {
    margin-left: 0.5rem;
}

.navbar-dark .navbar-toggler {
    border: none;
}

.navbar-collapse {
    padding: 1rem;
}

button:focus {
    outline: none;
}

select#category.form-control {
    padding: 0;
}

.app-search-field {
    margin-bottom: 0;
}

.app-nav-home {
    padding-left: 25px;
    font-size: 1rem;
}

.app-nav-home-dropdown-menu {
    font-size: 0.9rem;
}

.card-body {
    padding: 0.5rem;
}

.app-letter-spacing {
    letter-spacing: 0px;
}

.app-product-img {
    height: 100px;
    padding-left: 5px;
    padding-right: 0;
}

.app-product-title-description {
    padding-left: 10px;
    padding-right: 10px;
}

.app-product-title {
    margin: 0 0 0;
}

.app-product-description {
    margin: 0 0 0;
}

.fa-star {
    padding-top: 3px;
}
